.todo__list {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-top: 20px;
}
.todo__item {
    list-style: none;
    padding: 10px;
}
.todo__item:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
}